body{
    background-color: rgb(229,229,229);
}

.main{
    background-color: rgb(241,243,242);
    position: relative;
    top: 0vh;
    height:100vh;
    padding: 0px;
}

.detail{
    height:32vh;
}

.graph{
/*    height:68vh;*/
}

.text{
    color:rgb(76,76,76);
    float:left;
    width:100%;
    height:16vh;
    line-height:100%;
    text-align: left;
    padding:0;
}

.number{
    float:left;
    width:40%;
/*    background-color: sandybrown;*/
    height:16vh;
    position: relative;
    color:rgb(202,61,47);
    line-height: 16vh;
    padding:0;
    left:5vw;
}

.info{
    float:left;
    width:60%;
/*    background-color: sandybrown;*/
    height:12vh;
    text-align: left;
    line-height: 1em;
    padding:0;
}

#title{
    font-size: 30px;
    margin:auto;
    position: relative;
    left: 5vw;
    top:0vh;
    line-height: 16vh;
}

#date{
    font-size: 16px;
    color:rgb(132,132,132);
    position: relative;
    line-height: 4vh;
    left: 5vw;
    top:-5vh;
}

#num{
    font-size: 50px;
}

/*
.area {
  fill: steelblue;
}
*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width:0;
  shape-rendering: crispEdges;
}

.axis text {
   fill: rgb(132,132,132);
}

.grid .tick {
    stroke: lightgrey;
    stroke-width: 2;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 3;
}
.keyTitle{
    fill:white;
    font-size:16px;
}

.control.glyphicon {
  position: static;
}

.subKey span{
    direction: rtl;
    text-align: right;
}

.up
{
    font-size:12px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
/*    top:-24px*/
}

.textback{
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.subDetail{
    color:white;
    font-size: 16px;
    opacity: 0;
    transform: translate(0px,24px);
    -ms-transform: translate(0px,24px); /* IE 9 */
    -webkit-transform: translate(0px,24px); /* Safari and Chrome */
    -o-transform: translate(0px,24px); /* Opera */
    -moz-transform: translate(0px,24px); /* Firefox */
    transition: opacity 0.5s ease;
}

.show{
    opacity: 1;
}

@media (min-width:768px){
    
    .detail{
        height:20vh;
    }

    .text{
        float:left;
        width:45%;
        height:20vh;
/*        line-height: 20vh;*/
    }
    .number{
        width:20%;
        height:20vh;
        line-height: 20vh;
    }
    .info{
        width:35%;
        height:20vh;
        position: relative;
        top:1em;
/*        line-height: 8vh;*/
    }
}