.main{
  height:100vh;
  padding:0px;
}
.graph{
  font-weight: 400;
  height:60vh;
  background-color:rgb(178,38,86);
}
.detail{
/*
  position: relative;
  top: -80px;
*/
  height:40vh;
  background-color:whitesmoke
}
.title{
  height:10vh;
  margin:auto;
  text-align: center;
  color: white;
  font-style:light; 
}
#chartTitle{
  line-height: 7vh;
  margin:0px;
}
#curDate{ 
  line-height: 3vh;
  margin:0px;
  color:rgba(255,255,255,0.5);
}
.board{
  height:50vh;
/*  background-color:rgb(178,38,86);*/
}
.info{
  position: relative;
  top: 15vw;
  margin-left: 10vw;
}

.button{
    z-index:9990;
    position: relative;
    top:-40px;
    left:70vw;
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    background-color: rgb(207,91,32);
    overflow: hidden;
    -webkit-transition : border-radius 1000ms ease-out;
}

/*
.translate{
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
  margin-top: 50% !important;
}
*/

.line {
    stroke: white;
    stroke-width: 4;
    fill: none;
}

.area {
  fill: rgb(210,95,137);
  stroke:none;
  stroke-width: 0;
}

#behind{
    fill: rgb(197,59,107);
}

#powerTitle {
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.bar {
  fill: white;
}

.axis {
  font: 10px;
    fill:rgba(255,255,255,0.5);
}

.axis path,
.axis line {
    display:none;
  fill: none;
  stroke: rgba(255,255,255,0.5);
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.grid .tick {
    stroke: rgba(255,255,255,0.3);
    stroke-width: 2px;
}
.grid path {
      stroke-width: 0;
}

.point {
    fill:white;
    stroke-width: 2px;
    stroke: rgb(207,91,32)
}