#canvas-svg {
    width:70vw;
    height:100vh;
}

#rList {
    position: absolute;
    top: 0vh;
    left: 70vw;
    height: 100vh;
    width: 30vw;
    background-color: rgb(54,54,54);
    overflow: scroll;
}

#titles{
   background-color: rgb(20,20,20) 
}

#rList h1{
    color:white;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

#rList p{
    font-style: italic;
    color:gray;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.list-group-item {
    background-color: rgba(255,255,255,0);
    color:white;
    border:none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.list-group-item.active {
    background-color: rgb(96,164,218);
}

.form-control{
    border-radius: 0px;
    font-style: italic;
    color:lightgray;
    background-color: rgba(255,255,255,0);
    border: none;
}

.form-control:focus{
    background-color: rgba(20,20,20,1);
    box-shadow:none;
}


div.tooltip {
    color: rgb(20,20,20);
/*    font-weight 600;*/
    position: absolute;			
    text-align: center;			
    padding: 10px;				
    font: 12px sans-serif;		
    background: white;	
    border: 2px solid rgb(20,20,20);		
    pointer-events: none;			
}
